.product-image {
    height: 150px;
    max-width: 130px;
  }
  
  .each-product {
    min-height: 250px;
    max-width: 300px;
    width: 200px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .each-product-image-container {
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-items: center;
  }
  
  .paragraph {
    margin: 0px;
    font-size: 15px;
    font-family: "Times New Roman", Times, serif;
    padding: 5px;
  }
  
  .prize {
    margin: 1px;
  }